@import url("http://fonts.googleapis.com/css?family=Acme");

html {
  background: rgb(242, 246, 248);
  color: #34495e;
  font-family: "Acme", Helvetica, sans-serif;
  min-height: 100%;
}
a {
  text-decoration: none;
  color: #2980b9;
}
/* CSS Grid initial setup */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  background: rgb(242, 246, 248);
  box-shadow: 0 0 80px 0 rgba(15, 28, 73, 0.138);
  padding: 10px 10px 0;
  border-radius: 1%;
  padding: 10px 5px 10px 5px;
}
/* The card sort of view */
.card {
  display: block;
  background: rgb(242, 246, 248);
  box-shadow: 0 0 80px 0 rgba(15, 28, 73, 0.034);
  padding: 5px 5px 0;
  border-radius: 1%;
}
/* Where the logo is */
.top-left {
  grid-column: span 8 / auto;
  text-align: left;
  width: 45%;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #34495e;
}
/* Where the social icons are */
.top-right {
  grid-column: span 4 / auto;
  text-align: right;
  padding-top: 50px;
  padding-bottom: 10px;
  color: #34495e;
}
.social-icons {
  text-decoration: none;
  color: #34495e;
}
/* Font awesome social icons space between */
i {
  padding: 15px;
  transition: all 200ms ease-out;
}
/* Animate social icons on hover */
i:hover {
  transition: all 200ms ease-in;
  transform: scale(1.8);
}
/* Ease out after hover */
.logo {
  transition: all 300ms ease-out;
}
/* Animate Logo on hover */
.logo:hover {
  transition: all 200ms ease-in;
  transform: scale(1.5);
}
/* Nav section */
.nav {
  grid-column: span 3 / auto;
}
/* ul li elements */
.nav-menu .nav-menu-items {
  height: 50px;
  width: 100%;
  background: rgba(15, 29, 73, 0.707);
  display: block;
  position: relative;
  right: 30px;
  margin: 5px 10px;
  border-radius: 5px;
  transition: all 200ms ease-out;
}
/* Anchor tag - menu links */
.nav-menu-items a {
  color: #fff;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0 2em 0 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 2.8em;
  top: 0;
  left: 0;
  transition: all 200ms ease-out;
  overflow: hidden;
}
/* a tag hover */
.nav-menu-items a:hover {
  color: #34495e;
  transition: all 200ms ease-in;
  transform: scale(1.1);
}
/* Menu box look hover */
.nav-menu .nav-menu-items:hover {
  transition: all 200ms ease-in;
  transform: scale(1.1);
}
.active {
  transform: scale(1.1) !important;
  background: rgba(15, 28, 73, 0.926) !important;
}
/* 
  Start of Main Content 
*/
.content {
  grid-column: span 9 / auto;
  min-height: 400px;
}
.youtube-vid {
  width: 100%;
  height: 350px;
}
.content-wrapper {
  width: 100%;
  margin: auto;
  padding: 0;
  margin: 0;
}
.form-side-image {
  width: 40%;
  float: left;
}
.input-form {
  margin-left: 50%;
  padding: 0 10px 10px 10px;
  min-height: 300px;
  box-shadow: 10px 10px 10px 0 rgba(15, 28, 73, 0.063);
  border-radius: 1%;
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="phone"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px rgba(15, 28, 73, 0.419);
  box-shadow: 5px 5px 5px 0 rgba(15, 28, 73, 0.076);
  border-radius: 4px;
  font-size: 14px;
  color: #34495e;
  font-family: "Acme", Helvetica, sans-serif;
  box-sizing: border-box;
}
.submit {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px rgba(15, 28, 73, 0.419);
  box-shadow: 5px 5px 5px 0 rgba(15, 28, 73, 0.076);
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  font-family: "Acme", Helvetica, sans-serif;
  background-color: #34495e;
  transition: all 200ms ease-out;
  overflow: hidden;
}
.submit:hover {
  background-color: rgba(15, 29, 73, 0.707);
  transition: all 200ms ease-in;
  transform: scale(1.05);
}
.logged-user {
  padding: 10px;
  width: 90%;
  height: 20px;
  text-align: right;
}
hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.124);
}
/* Start of Request */
.request-wrapper {
  padding: 10px;
  width: 80%;
  margin: auto;
  min-height: 100px;
  border: solid rgba(15, 28, 73, 0.022);
  border-radius: 1%;
  border-width: 2px;
  border-radius: 1%;
  box-shadow: 0 0 80px 0 rgba(15, 28, 73, 0.172);
  background-color: rgba(15, 28, 73, 0.049);
  margin-bottom: 20px;
}
.request-top-left {
  width: 30%;
  float: left;
}
.request-top-right {
  margin-left: 35%;
  text-align: right;
}
.request-mid-left {
  width: 80%;
  float: left;
}
.request-mid-right {
  margin-left: 80%;
  text-align: right;
  padding-bottom: 10px;
}
.status-approved {
  background-color: rgba(31, 221, 21, 0.707);
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
.status-rejected {
  background-color: rgba(221, 21, 21, 0.631);
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
.status-pending {
  background-color: rgba(221, 158, 21, 0.707);
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
.status-resolved {
  background-color: rgba(21, 134, 221, 0.707);
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}
.request-icons {
  padding: 5px;
}
.request-body {
  border-radius: 1%;
  background-color: #ecf0f1;
  margin-bottom: 0;
  padding: 5px;
}
.request-body-p {
  margin: 0;
  font-size: 14px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.request-body-p button {
  background-color: #3498db;
  width: 120px;
  padding: 2px;
  font-size: 14px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.request-body-p button i {
  padding: 0;
  transition: unset !important;
}
.request-body-p button i:hover {
  transition: unset !important;
  transform: unset !important;
}
.load-more {
  width: 100px;
  margin: auto;
  text-align: center;
  border-radius: 1%;
  border-width: 2px;
  border-radius: 1%;
  box-shadow: 0 0 80px 0 rgba(15, 28, 73, 0.398);
  background-color: rgba(15, 29, 73, 0.707);
  margin-bottom: 50px;
}
.load-more p {
  padding: 10px;
  margin: 0;
  color: #fff;
}
.more-details {
  border-radius: 1%;
  background-color: #ecf0f1;
  margin-bottom: 0;
  padding: 5px;
  min-height: 100px;
}
.more-details-action-footer {
  width: 100px;
  margin: auto;
  text-align: center;
}
.more-details-action-footer button {
  background-color: #e74c3c;
  width: 100px;
  padding: 2px;
  font-size: 14px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.more-details-action-footer button i {
  padding: 0;
  transition: unset !important;
}
.more-details button i:hover {
  transition: unset !important;
  transform: unset !important;
}
.more-details-action {
  width: 100%;
  margin: auto;
  min-height: 100px;
  border: solid rgba(15, 28, 73, 0.022);
  border-radius: 1%;
  border-width: 2px;
  border-radius: 1%;
  box-shadow: 0 0 80px 0 rgba(15, 28, 73, 0.172);
  margin-bottom: 10px;
}
.more-details-action-top {
  width: 100%;
  text-align: center;
}
.more-details-action-bottom {
  width: 100%;
  text-align: center;
  border: solid rgba(15, 28, 73, 0.022);
  border-radius: 1%;
  border-width: 2px;
  border-radius: 1%;
  box-shadow: 0 0 80px 0 rgba(15, 28, 73, 0.172);
  margin-bottom: 10px;
}
.more-details-action-bottom label {
  font-size: 14px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.more-details-action-top i {
  padding-bottom: 0;
  padding-top: 20px;
  padding-right: 0;
}
.more-details-action-top textarea {
  width: 90%;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px rgba(15, 28, 73, 0.419);
  box-shadow: 5px 5px 5px 0 rgba(15, 28, 73, 0.076);
  border-radius: 4px;
  font-size: 14px;
  color: #34495e;
  font-family: "Acme", Helvetica, sans-serif;
  box-sizing: border-box;
}
.options-container {
  display: block;
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}
.options-container i {
  padding: 0;
}
.more-details-action-submit {
  width: 90%;
  margin: auto;
}
.filter {
  padding: 10px;
  width: 96%;
  margin: auto;
  border-radius: 1%;
  background-color: #dfe6e9;
  margin-bottom: 20px;
}
.filter > div {
  flex: 1; /*grow*/
}
.show-filter {
  text-align: right;
}
.hide-filter {
  text-align: right;
}
.btn-filter {
  background-color: #3498db;
  width: 150px;
  padding: 2px;
  font-size: 14px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.btn-filter i {
  padding: 8px;
}
.filter-form {
  display: flex;
  border: 2px rgba(15, 28, 73, 0.419);
  box-shadow: 5px 5px 5px 0 rgba(15, 28, 73, 0.124);
  border-radius: 4px;
  background-color: #ecf0f1;
}
.filter-form > div {
  flex: 1; /*grow*/
  padding: 10px;
}
.filter-right button i {
  padding: 0 5px 0 5px;
}
.request {
  display: unset !important;
}
.request > div {
  flex: unset !important;
  padding: unset !important;
}
.request textarea {
  width: 100%;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px rgba(15, 28, 73, 0.419);
  box-shadow: 5px 5px 5px 0 rgba(15, 28, 73, 0.076);
  border-radius: 4px;
  font-size: 14px;
  color: #34495e;
  font-family: "Acme", Helvetica, sans-serif;
  box-sizing: border-box;
}
/* End of Request */
/*
  End of Main content 
*/
/* 
  Start of Footer 
*/
.footer {
  grid-column: span 12 / auto;
  background: rgb(242, 246, 248);
  box-shadow: 0 0 80px 0 rgba(15, 28, 73, 0.138);
  padding: 10px 10px 0;
  border-radius: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
  End of Footer
*/
