@media (max-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
  }
  .header {
    grid-column: span 12 / auto;
    background-color: blue;
  }

  .content {
    grid-column: span 12 / auto;
    background-color: blue;
  }

  .right {
    grid-column: span 12 / auto;
    background-color: blue;
  }

  .footer {
    grid-column: span 12 / auto;
    background-color: blue;
  }
}
